<h2><%= t("despesa.acao.detalhar") %></h2>
<br>
<table>
  <tr>
	<td>
		<p>
		  <b><%= t('despesa.descricao')%>:</b>
		  <%= @despesa.descricao  %>
		</p> 

		<p>
		  <b><%= t('despesa.compra')%>:</b>
		  <%= @despesa.compra.descricao if @despesa  %>
		</p>
 
		<p>
		  <b><%= t('despesa.tipo_despesa')%>:</b>
		  <%= @despesa.tipo_despesa.descricao if @despesa  %>
		</p>
 
		<p>
		  <b><%= t('despesa.fornecedor')%>:</b>
		  <%= @despesa.fornecedor.nome if @despesa.fornecedor  %>
		</p>

		<p>
		  <b><%= t('despesa.data')%>:</b>
		  <span style="color:#1E90FF"><%= I18n.l(@despesa.data) if @despesa.data  %></span>
		</p>
 
		<p>
		  <b><%= t('despesa.valor')%>:</b>
		  <span style="color:#006400"><%= number_to_currency(@despesa.valor) if @despesa  %></span>
		</p>
    </td>
   <td>
   		<table class="zebra-striped">
	        <tr>
		        <th>Forma Pagamento</th>
				<th>Parcela</th>
				<th>Valor</th>
				<th>Data</th>
			</tr>
			<% @despesa.pagamento_despesas.each do |pagamento| %>
				<tr>
					<td><%= pagamento.despesa.lista_formas.key(pagamento.forma_pagamento) %></td>
					<td><%= pagamento.parcela %></td>
					<td><%= number_to_currency(pagamento.valor) %></td>
					<td><%= pagamento.data %></td>
				</tr>	
			 <% end %>		
        </table>

   </td>
  <td width="30%"></td>
  </tr>
</table>
<div class="actionsShow">
	<a href="<%= edit_despesa_path %>">
		<button class="btn primary" name="btnback"><%= t('botao.editar')%></button></a>&nbsp; 
	<a href="<%= despesas_path %>"><button class="btn" name="btnback"><%= t('botao.voltar')%></button></a>
</div>