<h2><%= t('home.titulo')%></h2>
<br>
<table class="zebra-striped">
 <tbody>	
  <tr>
	<td><%= t('app.menu.categoria')%>:&nbsp;<span style="color:#006400"><%= @categorias.size %></span>&nbsp;<%= t('home.registros') %></td>
  </tr>
  <tr>
	<td><%= t('app.menu.cidade')%>:&nbsp;<span style="color:#006400"><%= @cidades.size %></span>&nbsp;<%= t('home.registros') %></td>
  </tr>
  <tr>
	<td><%= t('app.menu.cliente')%>:&nbsp;<span style="color:#006400"><%= @clientes.size %></span>&nbsp;<%= t('home.registros') %></td>
  </tr>
  <tr>
	<td><%= t('app.menu.compra')%>:&nbsp;<span style="color:#006400"><%= @compras.size %></span>&nbsp;<%= t('home.registros') %></td>
  </tr>
  <tr>
	<td><%= t('app.menu.cor')%>:&nbsp;<span style="color:#006400"><%= @cores.size %></span>&nbsp;<%= t('home.registros') %></td>
  </tr>
  <tr>
	<td><%= t('app.menu.despesa')%>:&nbsp;<span style="color:#006400"><%= @despesas.size %></span>&nbsp;<%= t('home.registros') %></td>
  </tr>
  <tr>
	<td><%= t('app.menu.fornecedor')%>:&nbsp;<span style="color:#006400"><%= @fornecedores.size %></span>&nbsp;<%= t('home.registros') %></td>
  </tr>
  <tr>
	<td><%= t('app.menu.marca')%>:&nbsp;<span style="color:#006400"><%= @marcas.size %></span>&nbsp;<%= t('home.registros') %></td>
  </tr>
  <tr>
	<td><%= t('app.menu.tamanho')%>:&nbsp;<span style="color:#006400"><%= @tamanhos.size %></span>&nbsp;<%= t('home.registros') %></td>
  </tr>
  <tr>
	<td><%= t('app.menu.tipo_despesa')%>:&nbsp;<span style="color:#006400"><%= @tipo_despesas.size %></span>&nbsp;<%= t('home.registros') %></td>
  </tr>
   <tr>
	<td><%= t('app.menu.vendedor')%>:&nbsp;<span style="color:#006400"><%= @vendedores.size %></span>&nbsp;<%= t('home.registros') %></td>
  </tr>
 </tbody>
</table>
