<h2><%= t('home.titulo')%></h2>
<br>

<ul class="tabs">
  <li class="<%=@class_geral %>"><a href="/home">Geral</a></li>
  <% if !@ultimas_compras.empty? %>
  	<% @ultimas_compras.each do |ult_compra| %>
	  <% if @compra && (@compra.id == ult_compra.id ) %>
	  	<li class="active">
	  <% else%>
	  	<li>
	  <% end %>		
	  	<a href="/home?compra=<%= ult_compra.id %>"><%= ult_compra.descricao %></a>
	  </li>
	<% end %>	  	  
  <% end %>	  
</ul>

<table>
  <tr>
	<td style="border-top:0px solid #ddd;">
		<table>
			<tr>
				<% if !@pagamento_despesas.empty? && @compra.nil? %>
					<td style="border-top:0px solid #ddd;"> 
						<div class="hero-unit-devolucao">
							<h4>A Pagar</h4><br>
							<% @pagamento_despesas.each do |pagamento| %>
								<p>
								  <span style="color:#666"><%= I18n.l(pagamento.data, :format => :mes_ano) %>:</span>
								  <span style="color:#006400"><%= formata_float(pagamento.valor) %></span>
								</p>
						 	<% end %>	
						<br>
							<p>
							  <span style="color:#666"><b>Total:</b></span>
							  <span style="color:#006400"><b><%= formata_float(@total_pagamento_despesa) %></b></span>
							</p>
						</div>
						<br>
						<div class="hero-unit-devolucao">
							<h4>Últimos Pag.</h4><br>
							<% @ultimos_pagamentos.each do |pagamento| %>
								<p>
								  <span style="color:#666"><%= I18n.l(pagamento.data, :format => :mes_ano) %>:</span>
								  <span style="color:#006400"><%= formata_float(pagamento.valor) %></span>
								</p>
						 	<% end %>	
						<br>
							<p>
							  <span style="color:#666"><b>Total:</b></span>
							  <span style="color:#006400"><b><%= formata_float(@total_ultimos_pagamentos) %></b></span>
							</p>
						</div>
		    	    </td>
	    	    <% end %>
	    	   <% if !@pagamento_vendas.empty? && @compra.nil? %> 
			      <td  style="border-top:0px solid #ddd;">
						<div class="hero-unit-devolucao">
							<h4>A Receber</h4><br>
							<% @pagamento_vendas.each do |pagamento| %>
								<p>
								  <span style="color:#666"><%= I18n.l(pagamento.data, :format => :mes_ano) %>:</span>
								  <span style="color:#006400"><%= formata_float(pagamento.valor) %></span>
								</p>
						 	<% end %>	
						<br>
							<p>
							  <span style="color:#666"><b>Total:</b></span>
							  <span style="color:#006400"><b><%= formata_float(@total_pagamento_venda) %></b></span>
							</p>
						</div>
						<br>
						<div class="hero-unit-devolucao">
							<h4>Últimos Rec.</h4><br>
							<% @ultimos_recebimentos.each do |recebimento| %>
								<p>
								  <span style="color:#666"><%= I18n.l(recebimento.data, :format => :mes_ano) %>:</span>
								  <span style="color:#006400"><%= formata_float(recebimento.valor) %></span>
								</p>
						 	<% end %>	
						<br>
							<p>
							  <span style="color:#666"><b>Total:</b></span>
							  <span style="color:#006400"><b><%= formata_float(@total_ultimos_recebimentos) %></b></span>
							</p>
						</div>
				   </td>	
			   <% end %>
			   <% if (!@formas_pagamento.empty? || @qtde_produtos[4] > 0) %>
				   <td  style="border-top:0px solid #ddd;">
					<% if !@formas_pagamento.empty? && @compra.nil? %>
						<div class="hero-unit-devolucao">
							<h4>Formas de Pagamento</h4><br>
							<% @formas_pagamento.each do |forma| %>
							  <p>
								 <span style="color:#666"><%= forma.descricao_forma %>:</span>
								 <span style="color:#006400"><%= formata_float(forma.valor) %></span>
								 <span style="color:#1E90FF">&nbsp;<%= number_to_percentage(((forma.valor.to_f / @total_formas.to_f) * 100)) %></span>
							  </p>
						 	<% end %>	
						</div><br>
					<% end %>
					<% if @qtde_produtos[4] > 0 %>
						<div class="hero-unit-devolucao">
						  <h4>Resumo de Produtos</h4><br>
						  <p>
						    <span style="color:#666">Estoque:</span>
							<%= @qtde_produtos[0] %>
							<span style="color:#1E90FF">&nbsp;<%= number_to_percentage(@qtde_produtos[2]) %></span>
							</p>
						   <p>
							  <span style="color:#666">Vendidos:</span>
							  <%= @qtde_produtos[1] %>
							<span style="color:#1E90FF">&nbsp;<%= number_to_percentage(@qtde_produtos[3]) %></span>					
							</p>
						</div>	
					<% end %>
				   </td>
			   <% end %>	   
			   <% if !@relacao_categorias.empty? %> 
				   <td  style="border-top:0px solid #ddd;">
						<div class="hero-unit-devolucao">
							<h4>Vendidos</h4><br>
							<% @relacao_categorias.each do |categoria| %>
							  <p>
								  <span style="color:#666"><%= categoria.descricao %>:</span>
								  <%= categoria.qtde_vendido %>
							  </p>
						 	<% end %>	
						</div><br>
				   </td>
				   <td style="border-top:0px solid #ddd;">
						<div class="hero-unit-devolucao">
							<h4>Estoque</h4><br>
							<% @relacao_categorias.each do |categoria| %>
							  <p>
								  <span style="color:#666"><%= categoria.descricao %>:</span>
								  <%= categoria.qtde_estoque %>
							  </p>
						 	<% end %>	
						</div><br>
				   </td>
			   <% end %> 
			   <% if !@situacao_pagamento.empty?  && @compra.nil? %>   
				  <td style="border-top:0px solid #ddd;">
					<div class="hero-unit-devolucao">
						<h4>Situação Pagamentos</h4><br>
						<p>
							<span style="color:#666">Parcelas:</span>
							<%= @situacao_pagamento[3] %>
						</p>	
						<p>
							<span style="color:#666">À vista:</span>
							<%= @situacao_pagamento[4] %>
							<span style="color:#1E90FF">&nbsp;<%= number_to_percentage(@situacao_pagamento[4] / @situacao_pagamento[3].to_f * 100) %></span>
						</p>	
						<p>
							<span style="color:#666">Antecipado:</span>
							<%= @situacao_pagamento[5] %>
							<span style="color:#1E90FF">&nbsp;<%= number_to_percentage(@situacao_pagamento[5] / @situacao_pagamento[3].to_f * 100) %></span>
						</p>	
						<p>
							<span style="color:#666">No Prazo:</span>
							<%= @situacao_pagamento[6] %>
							<span style="color:#1E90FF">&nbsp;<%= number_to_percentage(@situacao_pagamento[6] / @situacao_pagamento[3].to_f * 100) %></span>
						</p>	
						<p>
							<span style="color:#666">15 a 30 dias:</span>
							<%= @situacao_pagamento[7] %>
							<span style="color:#1E90FF">&nbsp;<%= number_to_percentage(@situacao_pagamento[7] / @situacao_pagamento[3].to_f * 100) %></span>
						</p>	
						<p>
							<span style="color:#666">+ de 30 dias:</span>
							<%= @situacao_pagamento[8] %>
							<span style="color:#1E90FF">&nbsp;<%= number_to_percentage(@situacao_pagamento[8] / @situacao_pagamento[3].to_f * 100) %></span>
						</p>	
					 	
					</div>
				   </td>
			   <% end %>	 
			  <% if !@relacao_pagamentos.empty? && @compra.nil? %>      
				<td style="border-top:0px solid #ddd;">
					<div class="hero-unit-devolucao">
						<h4>15 Próximos Pagamentos</h4><br>
						<% @relacao_pagamentos.each do |cliente| %>
							<p>
							  <span style="color:#666"><%= cliente.nome %>:</span>
							  <% if (cliente.data >= Date.today) %>
							  		<span style="color:#1E90FF">&nbsp; <%= I18n.l(cliente.data) %></span>  
							  <% else %>		
							  		<span style="color:red">&nbsp; <%= I18n.l(cliente.data) %></span>  
							  <% end %>
							</p>
					 	<% end %>	
					</div><br>
				</td>
			  <% end %>  
			</tr>
		<table>
    </td>
  </tr>
<% if !@relacao_marcas.empty? %>  
  <tr>
	<td style="border-top:0px solid #ddd;">
		<table>
			<tr>
				<td style="border-top:0px solid #ddd;">
				<table class="zebra-striped">
			       <tr>
					<th width="3%">#</th>
					<th width="17%">Marca</th>
			        <th width="10%"><%= t('qtde_estoque')%></th>
					<th width="10%"><%= t('qtde_vendido')%></th>
					<th width="10%"><%= t('percentual_qtde')%></th>
					<th width="10%"><%= t('total_estoque')%></th>
					<th width="10%"><%= t('total_vendido')%></th>
					<th width="10%"><%= t('total_comprado')%></th>
					<th width="0%"><%= t('lucro')%></th>
					<th width="10%"><%= t('percentual_valor')%></th>
				</tr>
				 <% @relacao_marcas.each_with_index do |marca, cont| %>
					<tr>
						<td style="color:#1E90FF"><%= cont + 1 %></td>
						<td style="color:#666"><%= marca.descricao %></td>
						<td style="color:#"><%= marca.qtde_estoque %></td>
						<td style="color:#666"><%= marca.qtde_vendido %></td>
						<td style="color:#1E90FF"><%= number_to_percentage(marca.percentual) %></td>
						<td style="color:#006400"><%= number_to_currency(marca.soma_estoque) if marca.soma_estoque %></td>
						<td style="color:#006400"><%= number_to_currency(marca.soma_vendido) if marca.soma_vendido %></td>
						<td style="color:#006400"><%= number_to_currency(marca.total_comprado) if marca.total_comprado %></td>
						<% if (marca.lucro && marca.lucro > 0) %>
							<td style="color:#006400"><%= number_to_currency(marca.lucro) if marca.lucro %></td>
						<% else %>
							<td style="color:red"><%= number_to_currency(marca.lucro) if marca.lucro %></td>
						<% end %>
						<% if (marca.percentual_valor && marca.percentual_valor > 0) %>
							<td style="color:#1E90FF"><%= number_to_percentage(marca.percentual_valor)  %></td>
						<% else %>
							<td style="color:red"><%= number_to_percentage(marca.percentual_valor)  %></td>
						<% end %>
					</tr>
				 <% end %>	
			    </table>
			</td> 
	        </tr>			
	   </table>
	</td>
  </tr>
<% end %>  
</table>
