<%= form_for @tamanho do |f| %>
<% if @tamanho.errors.any? %>
<fieldset id="erros">
   <div class="ui-state-error ui-corner-all" style="padding: 5px; width: 50%">
     <h3><%= t('errors.messages.titulo') %>:</h3>
     <br>
     <ul>
       <% @tamanho.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
     </ul>
   </div>
</fieldset>
<% end %>
<br>
<table>
	<tr><td>
          <div class="clearfix">    
   	     <%= f.label :descricao %>
		<div class="input">
	     <%= f.text_field :descricao %>
	    </div>
      </div>
          <div class="clearfix">    
   	     <%= f.label :observacao %>
		<div class="input">
	     <%= f.text_area :observacao, :rows => 10, :cols => 50 %>
	    </div>
      </div>
    </td></tr>
</table> 
  <div class="actions">
    <%= f.submit t('botao.salvar'), :class => "btn primary" %>
    <a href="<%= tamanhos_path %>"><button class="btn" name="btnback"><%= t('botao.cancelar')%></button></a>
  </div>
<% end %>

<script>

 $('#tamanho_descricao').focus();

</script>