<h2><%= t("tamanho.acao.detalhar") %></h2>
<br>
<table>
  <tr>
	<td>
 
		<p>
		  <b><%= t('tamanho.descricao')%>:</b>
		  <%= @tamanho.descricao if @tamanho  %>
		</p>
 		
		<p>
		  <b><%= t('tamanho.default')%>:</b>
			<%= show_check(@tamanho.default) if @tamanho %>
		</p>
	
		<p>
		  <b><%= t('tamanho.observacao')%>:</b>
		  <%= @tamanho.observacao if @tamanho  %>
		</p>
    </td>
  </tr>
</table>
<div class="actionsShow">
	<a href="<%= edit_tamanho_path %>">
		<button class="btn primary" name="btnback"><%= t('botao.editar')%></button></a>&nbsp; 
	<a href="<%= tamanhos_path %>"><button class="btn" name="btnback"><%= t('botao.voltar')%></button></a>
</div>