<%= form_for @categoria do |f| %>
<% if @categoria.errors.any? %>
<fieldset id="erros">
   <div class="ui-state-error ui-corner-all" style="padding: 5px; width: 50%">
     <h3><%= t('errors.messages.titulo') %>:</h3>
     <br>
     <ul>
       <% @categoria.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
     </ul>
   </div>
</fieldset>
<% end %>
<br>
<table>
	<tr><td>
          <div class="clearfix">    
   	     <%= f.label :descricao %>
		<div class="input">
	     <%= f.text_field :descricao %>
	    </div>
      </div>
      <div class="clearfix">    
   	     <%= f.label :pai %>
		<div class="input">
	     	<input type="text" name="nome_pai" id="nome_pai" value="<%= @categoria.father.rec if @categoria.father %>" />
		    <%= f.hidden_field :id_pai %>
	    </div>
	  </div>
	  <div class="clearfix">    
   	     	<%= f.label :observacao %>
		<div class="input">
	     	<%= f.text_area :observacao, :rows => 10, :cols => 50 %>
	    </div>
      </div>
    </td></tr>
</table> 
  <div class="actions">
    <%= f.submit t('botao.salvar'), :class => "btn primary" %>
    <a href="<%= categorias_path %>"><button class="btn" name="btnback"><%= t('botao.cancelar')%></button></a>
  </div>
<% end %>

<script>
$(function() {
	
 $('#categoria_descricao').focus();

		$("#nome_pai").autocomplete({
			source: "/categorias/auto",
			minLength: 3,
			select: function( event, ui ) {
				$("nome_pai").val(ui.item.label);
				$("#categoria_id_pai").val(ui.item.id);
				alert(ui.item.id);
			}
		});
	});
</script>