<h2><%= t('app.menu.listagem')%>&nbsp;<%= t('app.menu.tipo_despesa')%></h2>
<br>
<%= form_for(@tipo_despesa, :html => { :method => :get }, :url => tipo_despesas_path) do |f| %>

	<table class="zebra-striped">
	  <tr class="pesquisa">
				<th><%= t('tipo_despesa.descricao') %>&nbsp;
		<%= f.text_field :descricao %>&nbsp;&nbsp;<%= f.submit t('botao.pesquisar'), :class => "btn primary" %></th>
	 </tr>
	</table>
<% end %>
<% if @tipo_despesas.size > 0  %>
 <table class="zebra-striped">
  <tr>
    <th width="30%"><%= t('tipo_despesa.descricao')%></th>
	<th width="20%"><%= t('tipo_despesa.retorno')%></th>
    <th width="30%"><%= t('tipo_despesa.observacao')%></th>
   	<th></th>
    <th></th>
    <th></th>
  </tr>

 <% @tipo_despesas.each do |tipo_despesa| %>
  <tr>
    <td style="color:#666"><%= tipo_despesa.descricao %></td>
	<td style="color:#666"><% if (tipo_despesa.retorno == 1) %><i class="icon-ok"></i><% end %></td>
    <td title="<%= tipo_despesa.observacao %>" style="color:#666"><%= show_obs(tipo_despesa.observacao) %></td>
    <td><%= link_to t('botao.detalhes'), tipo_despesa %></td>
    <td><%= link_to t('botao.editar'), edit_tipo_despesa_path(tipo_despesa)%></td>
    <td><%= link_to t('botao.excluir'), tipo_despesa, 
	confirm: 'Tem certeza que deseja excluir este registro?', method: :delete %></td>
  </tr>
 <% end %>
 </table>
	<div class="apple_pagination">
	    <%= will_paginate @tipo_despesas, :container => false, :next_label => 'Próximo', :previous_label => 'Anterior' %>
	</div>
<% end %>

<br />

<a href="<%= new_tipo_despesa_path %>">
	<button class="btn" name="btnpesquisa"><%= t('tipo_despesa.acao.novo')%></button></a>
