<h2><%= t("compra.acao.detalhar") %></h2>
<br>
<table>
	<tr><td>
 
	<p>
	  <b><%= t('compra.descricao')%>:</b>
	  <%= @compra.descricao if @compra  %>
	</p>
 
	<p>
	  <b><%= t('compra.data')%>:</b>
		<span style="color:#1E90FF"><%= I18n.l(@compra.data) if @compra.data %></span>  
	</p>
	
	<p>
	  <b><%= t('compra.default')%>:</b>
		<%= show_check(@compra.default) if @compra %>
	</p>

	<p>
	  <b><%= t('compra.total_despesas')%>:</b>
	  <span style="color:#006400"><%= @compra.total_despesas.real_formatado if @compra.total_despesas %></span>
	</p>
 
	<p>
	  <b><%= t('compra.com_retorno')%>:</b>
	  <span style="color:#006400"><%= @compra.total_com_retorno.real_formatado if @compra.total_com_retorno %></span>
	</p>
	
	<p>
	  <b><%= t('compra.sem_retorno')%>:</b>
	  <span style="color:#006400"><%= @compra.total_sem_retorno.real_formatado if @compra.total_sem_retorno %></span>
	</p>

	<p>
	  <b><%= t('compra.observacao')%>:</b>
	  <%= @compra.observacao if @compra  %>
	</p>

<div class="hero-unit-devolucao">
	<h4>Previsão</h4><br>
	<p>
	  <%= t('compra.vendas')%>:
	  <span style="color:#006400"><%= @compra.total_retorno_produtos.real_formatado if @compra.total_retorno_produtos %></span>
	</p>
	
	<p>
	  <%= t('compra.lucro')%>:
	  <% if @compra.total_lucro > 0 %>
	  <span style="color:#006400"><%= @compra.total_lucro.real_formatado if @compra.total_lucro %></span>
	  <% else %> 
	  <span style="color:red"><%= @compra.total_lucro.real_formatado if @compra.total_lucro %></span>
	  <% end %>
	</p>
	
	<p>
	  <%= t('compra.lucratividade')%>:
	 <% if @compra.lucratividade > 0 %>
	  <span style="color:#006400"><%= number_to_percentage(@compra.lucratividade) if @compra.lucratividade %></span>
	<% else %>
	  <span style="color:red"><%= number_to_percentage(@compra.lucratividade) if @compra.lucratividade %></span>
     <% end %>
	</p>
	
	<p>
	  <%= t('compra.rentabilidade')%>:
	 <% if @compra.rentabilidade > 0 %>
	  <span style="color:#006400"><%= number_to_percentage(@compra.rentabilidade) if @compra.rentabilidade %></span>
	<% else %>
	  <span style="color:red"><%= number_to_percentage(@compra.rentabilidade) if @compra.rentabilidade %></span>
	 <% end %>
	</p>

	<p>
	  <%= t('compra.prazo_retorno')%>:
	 <% if @compra.prazo_retorno > 0 %>
	  <span style="color:#006400"><%= number_with_delimiter(@compra.prazo_retorno) if @compra.prazo_retorno %> meses</span>
	<% else %>
	  <span style="color:red"><%= number_with_delimiter(@compra.prazo_retorno) if @compra.prazo_retorno %> meses</span>
	 <% end %>	
	</p>
</div>
<br>
<div class="hero-unit-devolucao">
	<h4>Real</h4><br>
	<p>
	  <%= t('compra.vendas')%>:
	  <span style="color:#006400"><%= @compra.total_vendido.real_formatado if @compra.total_vendido %></span>
	</p>
	
	<p>
	  <%= t('compra.lucro')%>:
	  <% if @compra.lucro_real > 0 %>
	   <span style="color:#006400"><%= @compra.lucro_real.real_formatado if @compra.lucro_real %></span>
	  <% else %>
		<span style="color:red"><%= @compra.lucro_real.real_formatado if @compra.lucro_real %></span>
	  <% end %>
	</p>
	
	<p>
	  <%= t('compra.lucratividade')%>:
	<% if @compra.lucratividade_real > 0 %>
	  <span style="color:#006400"><%= number_to_percentage(@compra.lucratividade_real) if @compra.lucratividade_real %></span>
	<% else %>
	  <span style="color:red"><%= number_to_percentage(@compra.lucratividade_real) if @compra.lucratividade_real %></span>
	<% end %>
	</p>
	
	<p>
	  <%= t('compra.rentabilidade')%>:
	 <% if @compra.rentabilidade_real > 0 %>
	  <span style="color:#006400"><%= number_to_percentage(@compra.rentabilidade_real) if @compra.rentabilidade_real %></span>
	<% else %>
	  <span style="color:red"><%= number_to_percentage(@compra.rentabilidade_real) if @compra.rentabilidade_real %></span>
	<% end %>
	</p>

	<p>
	  <%= t('compra.prazo_retorno')%>:
	<% if @compra.prazo_retorno_real > 0 %>
	  <span style="color:#006400"><%= number_with_delimiter(@compra.prazo_retorno_real) if @compra.prazo_retorno_real %> meses</span>
	<% else %>
	  <span style="color:red"><%= number_with_delimiter(@compra.prazo_retorno_real) if @compra.prazo_retorno_real %> meses</span>
	<% end %>
	
	</p>
</div>
	
  </td>
  <td>
 	<table class="zebra-striped">
       <tr>
		<th width="5%"><%= t('despesa.retorno')%></th>
        <th width="10%"><%= t('despesa.despesa')%></th>
		<th width="16%"><%= t('despesa.fornecedor')%></th>
		<th width="16%"><%= t('despesa.descricao')%></th>
        <th width="10%"><%= t('despesa.data')%></th>
        <th width="13%"><%= t('despesa.total')%></th>
		<th width="10%"><%= t('despesa.forma')%></th>
		<th width="10%"><%= t('despesa.parcelas')%></th>
		<th width="10%"><%= t('despesa.valor')%></th>
	</tr>
	 <% @compra.despesas.each do |despesa| %>
		<tr>
			<td style="color:#666;text-align:center;"><% if (despesa.tipo_despesa.retorno == 1) %><i class="icon-ok"></i><% end %></td>
	        <td style="color:#666"><%= despesa.tipo_despesa.descricao if despesa.tipo_despesa %></td>
	        <td style="color:#666"><%= despesa.fornecedor.nome if despesa.fornecedor %></td>
			<td style="color:#666"><%= despesa.descricao %></td>
	        <td style="color:#1E90FF"><%= I18n.l(despesa.data) if despesa.data %></td>
	        <td style="color:#006400"><%= despesa.valor.real_formatado if despesa.valor %></td>
			<td style="color:#666"><%= despesa.lista_formas.key(despesa.forma_pagamento) %></td>
			<td style="color:#666"><%= despesa.parcela %></td>
			<td style="color:#006400"><%= despesa.valor_pagamento.real_formatado if despesa.valor_pagamento %></td>
		</tr>
	 <% end %>	
	    <tr>
	    	<td colspan="4">&nbsp;</td>
	        <td>TOTAL</td>
	        <td style="color:#006400"><b><%= @compra.total_despesas.real_formatado if @compra.total_despesas %></b></td>  
			<td colspan="3">&nbsp;</td>
	    </tr>	
    </table>

   </td>
  <td width="10%"></td>
</tr></table>
<div class="actionsShow">
	<a href="<%= edit_compra_path %>">
		<button class="btn primary" name="btnback"><%= t('botao.editar')%></button></a>&nbsp; 
	<a href="<%= compras_path %>"><button class="btn" name="btnback"><%= t('botao.voltar')%></button></a>
</div>