<h2><%= t("produto.acao.detalhar") %></h2>
<br>
<table>
  <tr>
	<td>
		<p>
		  <b><%= t('produto.descricao')%>:</b>
		  <%= @produto.descricao if @produto  %>
		</p>
 
		<p>
		  <b><%= t('produto.codigo_interno')%>:</b>
		  <span style="color:#1E90FF"><%= @produto.codigo_interno if @produto  %></span>
		</p>
 
		<p>
		  <b><%= t('produto.codigo_fabricante')%>:</b>
		  <%= @produto.codigo_fabricante if @produto  %>
		</p>
 
		<p>
		  <b><%= t('produto.categoria')%>:</b>
		  <%= @produto.categoria.descricao if @produto.categoria  %>
		</p>
 
		<p>
		  <b><%= t('produto.fornecedor')%>:</b>
		  <%= @produto.fornecedor.nome if @produto.fornecedor %>
		</p>
 
		<p>
		  <b><%= t('produto.compra')%>:</b>
		  <%= @produto.compra.descricao if @produto.compra  %>
		</p>
 
		<p>
		  <b><%= t('produto.marca')%>:</b>
		  <%= @produto.marca.descricao if @produto.marca  %>
		</p>
		<p>
		  <b><%= t('produto.cor')%>:</b>
		  <%= @produto.cor.descricao if @produto.cor  %>
		</p>
 
		<p>
		  <b><%= t('produto.tamanho')%>:</b>
		  <%= @produto.tamanho.descricao if @produto.tamanho  %>
		</p>
    </td><td>
		<p>
		  <b><%= t('produto.valor_compra')%>:</b>
		  <span style="color:#006400"><%= @produto.valor_compra.real_formatado if @produto  %></span>
		</p>
 
		<p>
		  <b><%= t('produto.valor_venda')%>:</b>
		  <span style="color:#006400"><%= @produto.valor_venda.real_formatado if @produto  %></span>
		</p>
 
		<p>
		  <b><%= t('produto.valor_minimo')%>:</b>
		  <span style="color:#006400"><%= @produto.valor_minimo.real_formatado if @produto  %></span>
		</p>
		<p>
		  <b><%= t('produto.margem_lucro')%>:</b>
		  <%= number_to_percentage(@produto.margem_lucro) if @produto  %>
		</p>
		<% if (!@produto.venda_id.nil?) %>
			<p>
			  <b><%= t('produto.comprador')%>:</b>
			  <span style="color:#1E90FF"><%= @produto.venda.cliente.nome if @produto.venda.cliente %></span>
			</p>
			<p>
		  		<b><%= t('produto.valor_vendido')%>:</b>
		  		<span style="color:#006400"><%= @produto.valor_vendido.real_formatado if @produto  %></span>
			</p>
		<% end %>	
		
   </td><td> 
		<p>
		  <b><%= t('produto.observacao')%>:</b>
		  <%= @produto.observacao if @produto  %>
		</p>
 
		<p>
		  <b><%= t('produto.foto')%>:</b>
		  <%= link_to "#{@produto.foto_file_name}", @produto.foto.url, :target => "_blank" %>
		</p>
		
		<p>
			<%= image_tag @produto.foto.url(:pequeno) if @produto.foto.file?  %>
		</p>

    </td>
  <td width="30%"></td>
  </tr>
</table>
<div class="actionsShow">
	<% if @produto.venda_id.nil? %>
		<a href="<%= edit_produto_path %>">
		<button class="btn primary" name="btnback"><%= t('botao.editar')%></button></a>&nbsp; 
	<% end %>	
	<a href="<%= edit_produto_path(:acao => Produto::COPY) %>">
		<button class="btn primary" name="btnback">+&nbsp;<%= t('botao.copiar')%></button></a>&nbsp; 	
	<a href="<%= produtos_path %>"><button class="btn" name="btnback"><%= t('botao.voltar')%></button></a>
</div>