<%= form_for @venda do |f| %>
<% if @venda.errors.any? %>
<fieldset id="erros">
   <div class="ui-state-error ui-corner-all" style="padding: 5px; width: 50%">
     <h3><%= t('errors.messages.titulo') %>:</h3>
     <br>
     <ul>
       <% @venda.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
     </ul>
   </div>
</fieldset>
<% end %>
<br>
<table sytle="margin-top:10px;">
	<tr><td>
       <div class="clearfix">    
   	     <%= f.label :vendedor %>
		<div class="input">
	     	<%= f.select :vendedor_id, options_from_collection_for_select(@vendedores,:id,:nome, @venda.vendedor_id),  
						:include_blank => true %>
	    </div>
      </div>
          <div class="clearfix">    
   	     <%= f.label :cliente %>
		<div class="input">
	     	<%= f.select :cliente_id, options_from_collection_for_select(@clientes,:id,:nome, @venda.cliente_id),  
						:include_blank => true %>
	    </div>
      </div>
          <div class="clearfix">    
   	     <%= f.label :data %>
		<div class="input">
	     <%= f.text_field :data, :value => (I18n.l(@venda.data) if @venda.data) %>
	    </div>
      </div>
          <div class="clearfix">    
   	     <%= f.label :observacao %>
		<div class="input">
	     <%= f.text_area :observacao, :rows => 10, :cols => 50 %>
	    </div>
      </div>
    </td>
  <td>
	<div class="clearfix">    
	  <%= f.label :consulta_produto %>
	<div class="input">
      <input type="text" name="codigo_produto" id="codigo_produto" value="" style="width:400px" />
    </div>
    </div>
	
  	<table class="zebra-striped" id="tableprod">
	  <thead>
		<tr>
			<th width="20%">Código</th>
			<th width="40%">Descrição</th>
			<th width="30%">Valor</th>
			<th width="10%">&nbsp;</th>
		</tr>
		</thead>
		<tbody>
			<% if @venda.produtos.size > 0 %>
				<% @venda.produtos.each_with_index do |produto,i| %>
				  <tr id="linha<%= i %>">
					    <input type="hidden" name="venda[produtos_attributes][<%= i %>][id]" value="<%= produto.id %>"/>
				        <td style="padding:5px;color:#1E90FF;padding-left:20px;"><%= produto.codigo_interno %></td>
					    <td style="padding:5px;color:#666"><%= produto.descricao %></td>
				        <td style="padding:5px;color:#006400"><%= number_to_currency(produto.valor_venda) %></td>
				        <td style="padding:5px;color:#666"><%= image_tag("remove.jpg", :id => "removeprod#{i}", :size => "20x20", :style => "cursor:pointer", :title => "Remover" , :onclick => "removeProduto(this, #{i})") %></td>
				  </tr>
				 <% end %>
				<input type="hidden" id="contador" name="contador" value="<%= @venda.produtos.size %>"/>
			<% end %>	
		</tbody>	
    </table>
  </td>
  <td width="10%"></td>
</tr>
</table> 
  <div class="actions">
    <%= f.submit t('botao.salvar'), :class => "btn primary" %>
    <a href="<%= vendas_path %>"><button class="btn" name="btnback"><%= t('botao.cancelar')%></button></a>
  </div>
<% end %>

<script>

 $('#venda_data').datepicker({dateFormat : 'dd/mm/yy'});

 $(function() {
	var id = 0;
	
	cont = $("#contador").val();
	
	if (cont != undefined) {
		id = cont - 1;
	}

	$("#codigo_produto").autocomplete({
		source: "/produtos/auto",
		minLength: 1,
		select: function( event, ui ) {
			id++;
			
			var prot = '<tr id="linha'+id+'" >' + 
			'<input type="hidden" name="venda[produtos_attributes]['+id+'][id]" value="'+ui.item.id+'"/>' +
			'<td style="padding:5px;padding-left:20px;color:#1E90FF;">'+ ui.item.codigo + '</td>' +
			'<td style="padding:5px;color:#666;">'+ ui.item.descricao + '</td>' +
			'<td style="padding:5px;color:#006400;">'+ ui.item.valor + '</td>'+
			'<td style="padding:5px;"><%= image_tag("remove.jpg", :id => "removeprod'+id+'", :size => "20x20", :style => "cursor:pointer", :title => "Remover" , :onclick => "removeProduto(this, '+id+')") %></td></tr>';

			$("#tableprod").find("tbody").append(prot);
		}
	});
	
	$('#codigo_produto').blur(function() { $(this).val(''); });
	$('#codigo_produto').click(function() { $(this).val(''); });
	
  });

  function removeProduto(obj, id) {
    $(obj).parents("#linha" + id).remove();
  }
	
</script>
