<%= form_for @venda do |f| %>
<% if @venda.errors.any? %>
<fieldset id="erros">
   <div class="ui-state-error ui-corner-all" style="padding: 5px; width: 50%">
     <h3><%= t('errors.messages.titulo') %>:</h3>
     <br>
     <ul>
       <% @venda.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
     </ul>
   </div>
</fieldset>
<% end %>
<br>
<table sytle="margin-top:10px;">
	<tr><td>
       <div class="clearfix">    
   	     <%= f.label :vendedor %>
		<div class="input">
	     	<%= f.select :vendedor_id, options_from_collection_for_select(@vendedores,:id,:nome, @venda.vendedor_id),  
						:include_blank => true %>
	    </div>
      </div>
          <div class="clearfix">    
   	     <%= f.label :cliente %>
		<div class="input">
	     	<%= f.select :cliente_id, options_from_collection_for_select(@clientes,:id,:nome, @venda.cliente_id),  
						:include_blank => true %>
	    </div>
      </div>
          <div class="clearfix">    
   	     <%= f.label :data %>
		<div class="input">
	     <%= f.text_field :data, :value => (I18n.l(@venda.data) if @venda.data) %>
	    </div>
      </div>
          <div class="clearfix">    
   	     <%= f.label :observacao %>
		<div class="input">
	     <%= f.text_area :observacao, :rows => 10, :cols => 50 %>
	    </div>
      </div>
    </td>
  <td>
	<div class="clearfix">    
	  <%= f.label :consulta_produto %>
	<div class="input">
      <input type="text" name="codigo_produto" id="codigo_produto" value="" style="width:400px" />
    </div>
    </div>
	
  	<table class="zebra-striped" id="tableprod">
	  <thead>
		<tr>
	        <th width="10%"><%= t('produto.codigo')%></th>
		    <th width="20%"><%= t('produto.descricao')%></th>
	        <th width="20%"><%= t('produto.marca')%></th>
	        <th width="20%"><%= t('produto.sugerido')%></th>
			<th width="20%"><%= t('produto.valor vendido')%></th>
			<th width="10%">&nbsp;</th>
		</tr>
		</thead>
		<tbody id="prod_body">
			<% if @venda.produtos.size > 0 %>
				<% @venda.produtos.each_with_index do |produto,i| %>
				  <tr id="linha<%= i %>"  class="calcula">
					    <input type="hidden" name="venda[lista_produtos][<%= i %>][id]" value="<%= produto.id %>"/>
				        <td style="color:#1E90FF;padding-left:20px;"><%= produto.codigo_interno %></td>
					    <td style="color:#666"><%= produto.descricao %></td>
						<td style="color:#666"><%= produto.marca.descricao %></td>
				        <td class="valor_produto" title="<%= produto.valor_venda %>" style="color:#006400">
				<%= number_to_currency(produto.valor_venda) %></td>
						<td style="padding:5px;color:#006400">
							<input class="valor_vendido"  type="text" style="width: 100px;" onblur="calculaTotal();" name="venda[lista_produtos][<%= i %>][valor_vendido]" value="<%= produto.valor_vendido %>"/>
						</td>
				        <td style="padding:5px;color:#666"><%= image_tag("remove.jpg", :id => "removeprod#{i}", :size => "20x20", :style => "cursor:pointer", :title => "Remover" , :onclick => "removeProduto(this, #{i},#{produto.id})") %></td>
				  </tr>
				 <% end %>
				<tr id="linhatotal" > 
	              <td colspan="2">&nbsp;</td>
				  <td ><b>TOTAL</b></td>
	              <td style="color:#006400;"><%= number_to_currency(@venda.total_sugerido) %></td>
				 <td style="color:#006400;"><%= number_to_currency(@venda.total_vendido) %></td>
	              <td >&nbsp;</td>  
				</tr>
				<input type="hidden" id="contador" name="contador" value="<%= @venda.produtos.size %>"/>
			<% end %>	
		</tbody>	
    </table>
	<br><br>
	<table class="zebra-striped" id="tableforma">
	  <thead>
		<tr>
	        <th width="30%"><%= t('venda.forma_pagamento')%></th>
		    <th width="20%"><%= t('venda.parcela')%></th>
	        <th width="25%"><%= t('venda.valor')%></th>
	        <th width="25%"><%= t('venda.data')%></th>
		</tr>
		</thead>
		<tbody id="pag_body">
		  <tr id="dinheiro">
	        <td style="color:#1E90FF;padding-left:20px;">Dinheiro</td>
		    <td style="color:#666;padding-left:20px;">1</td>
			<td style="padding:5px;color:#666;padding-left:5px;">
				<%= f.text_field :valor_dinheiro, :style => 'width: 100px;', :onblur => 'calculaPagamento();'  %>
			</td>
	        <td style="padding:5px;color:#666">&nbsp;</td>
	  	  </tr>
	  	 <tr id="duplicata">
	        <td style="color:#1E90FF;padding-left:20px;">Duplicata</td>
		    <td style="color:#666;padding-left:10px;">
		<%= f.select :parcela_duplicata, options_for_select(['1','2','3','4','5','6'], @venda.parcela_duplicata), {}, { :class => 'short' }  %></td>
			<td style="padding:5px;color:#666;padding-left:5px;">
				<%= f.text_field :valor_duplicata, :style => 'width: 100px;', :onblur => 'calculaPagamento();'  %>
			</td>
	        <td style="padding:5px;color:#666">
		<%= f.text_field :data_duplicata, :style => 'width: 100px;',:value => @venda.data_duplicata %>
			</td>
		  </tr>
		<tr id="cartao">
	        <td style="color:#1E90FF;padding-left:20px;">Cartão</td>
		    <td style="color:#666;padding-left:10px;">
		<%= f.select :parcela_cartao, options_for_select(['1','2','3','4','5','6'], @venda.parcela_cartao), {}, { :class => 'short' }  %></td>
			<td style="padding:5px;color:#666;padding-left:5px;">
				<%= f.text_field :valor_cartao, :style => 'width: 100px;', :onblur => 'calculaPagamento();'  %>
			</td>
	        <td style="padding:5px;color:#666">
		<%= f.text_field :data_cartao, :style => 'width: 100px;',:value => @venda.data_cartao %>
			</td>
		  </tr>
		<tr id="cheque">
	        <td style="color:#1E90FF;padding-left:20px;">Cheque</td>
		    <td style="color:#666;padding-left:10px;">
		<%= f.select :parcela_cheque, options_for_select(['1','2','3','4','5','6'], @venda.parcela_cheque), {}, { :class => 'short' }  %></td>
			<td style="padding:5px;color:#666;padding-left:5px;">
				<%= f.text_field :valor_cheque, :style => 'width: 100px;', :onblur => 'calculaPagamento();'  %>
			</td>
	        <td style="padding:5px;color:#666">
		<%= f.text_field :data_cheque, :style => 'width: 100px;',:value => @venda.data_cheque %>
			</td>
		  </tr>
			<tr id="pagamentototal" > 
              <td style="padding:5px;">&nbsp;</td>
			  <td style="padding:5px;"><b>TOTAL</b></td>
              <td style="padding:5px;color:#006400;"><%= number_to_currency(@venda.total_pagamento_tela) %></td>  
			  <td style="padding:5px;">&nbsp;</td>  
			</tr>
		</tbody>	
    </table>
	

  </td>
  <td width="10%"></td>
</tr>
</table> 
  <div class="actions">
    <%= f.submit t('botao.salvar'), :class => "btn primary" %>
    <a href="<%= vendas_path %>"><button class="btn" name="btnback"><%= t('botao.cancelar')%></button></a>
  </div>
<% end %>

<script>

 $('#venda_data').datepicker({dateFormat : 'dd/mm/yy'});
$('#venda_data_duplicata').datepicker({dateFormat : 'dd/mm/yy'});
$('#venda_data_cartao').datepicker({dateFormat : 'dd/mm/yy'});
$('#venda_data_cheque').datepicker({dateFormat : 'dd/mm/yy'});

 $(function() {
	var id = 0;
	var valor = 0;
	
	cont = $("#contador").val();
	
	if (cont != undefined) {
		id = cont - 1;
	}
    
	$("#codigo_produto").autocomplete({
		source: "/produtos/auto",
		minLength: 1,
		select: function( event, ui ) {
		id++;
		
		var prot = '<tr class="calcula" id="linha'+id+'" >' + 
		'<input type="hidden" name="venda[lista_produtos]['+id+'][id]" value="'+ui.item.id+'"/>' +
		'<td style="padding-left:20px;color:#1E90FF;">'+ ui.item.codigo + '</td>' +
		'<td style="color:#666;">'+ ui.item.descricao + '</td>' +
		'<td style="color:#666;">'+ ui.item.marca + '</td>' +
		'<td class="valor_produto" title="'+ ui.item.valor_real + '" style="color:#006400;">'+ ui.item.valor + '</td>'+
		'<td style="padding:5px;color:#006400">' +
		'<input class="valor_vendido" style="width: 100px;" type="text" name="venda[lista_produtos]['+id+'][valor_vendido]" value="'+ ui.item.valor_real +'"/></td> ' +
		'<td style="padding:5px;"><%= image_tag("remove.jpg", :id => "removeprod'+id+'", :size => "20x20", :style => "cursor:pointer", :title => "Remover" , :onclick => "removeProduto(this, '+id+','+ui.item.id+')") %></td></tr>';
		
		$("#prod_body").append(prot);
		calculaTotal();
		}
	});
	
	$('#codigo_produto').blur(function() { $(this).val(''); });
	$('#codigo_produto').click(function() { $(this).val(''); });
	$('.valor_vendido').blur(function() { calculaTotal(); });
	
  });

  function removeProduto(obj, id, prodid) {
    $(obj).parents("#linha" + id).remove();
	calculaTotal();
  }

 function calculaTotal() {

	var valor = 0;
	var valor_vendido = 0
	$("#prod_body").each(function() {
		$(this).children(".calcula").each(function() {
			valor += parseFloat($(this).find(".valor_produto").attr("title"));
			valor_vendido += parseFloat($(this).find(".valor_vendido").val());
		});		
	});

	$("#prod_body").find("#linhatotal").remove();

	linhaTotal = '<tr id="linhatotal" >' + 
	             '<td  colspan="2">&nbsp;</td> ' +
			     '<td ><b>TOTAL</b></td> ' + 
	             '<td style="color:#006400;">R$ ' + parseDoubleToMoedaPtBR(valor) + '</td> ' +
	             '<td style="color:#006400;">R$ ' + parseDoubleToMoedaPtBR(valor_vendido) + '</td> ' +
	             '<td >&nbsp;</td> ' +  
	             '</tr>';

	$("#prod_body").append(linhaTotal);
	
  }

  function calculaPagamento() {
	
		var total_pagamento = 0;
	    var valor_dinheiro = $("#venda_valor_dinheiro").val();
	    var valor_duplicata = $("#venda_valor_duplicata").val(); 
		var valor_cartao = $("#venda_valor_cartao").val();
	    var valor_cheque = $("#venda_valor_cheque").val();
	
		if (valor_dinheiro != "" && valor_dinheiro > 0) {
			total_pagamento += parseFloat(valor_dinheiro);
	 	}
	    
	    if (valor_duplicata != "" && valor_duplicata > 0) {
			total_pagamento += parseFloat(valor_duplicata);
		}
		
		if (valor_cheque != "" && valor_cheque > 0) {
			total_pagamento += parseFloat(valor_cheque);
	 	}
	    
	    if (valor_cartao != "" && valor_cartao > 0) {
			total_pagamento += parseFloat(valor_cartao);
		}
		
		$("#pag_body").find("#pagamentototal").remove();
		
		linha = '<tr id="pagamentototal" > ' + 
          '<td style="padding:5px;">&nbsp;</td> ' +
		  '<td style="padding:5px;"><b>TOTAL</b></td> ' +
          '<td style="padding:5px;color:#006400;">R$ '+ parseDoubleToMoedaPtBR(total_pagamento) + '</td> ' +  
		  '<td style="padding:5px;">&nbsp;</td> ' +  
		  '</tr>';
		
		$("#pag_body").append(linha);
		
	}
	
</script>
