<h2><%= t("venda.acao.detalhar") %></h2>
<br>
<table>
  <tr>
	<td>
 
		<p>
		  <b><%= t('venda.cliente')%>:</b>
		  <%= @venda.cliente.nome if @venda.cliente  %>
		</p>
 
		<p>
		  <b><%= t('venda.vendedor')%>:</b>
		  <%= @venda.vendedor.nome if @venda.vendedor  %>
		</p>
 
		<p>
		  <b><%= t('venda.data')%>:</b>
		  <span style="color:#1E90FF"><%= I18n.l(@venda.data) if @venda.data %></span>  
		</p>
 
		<p>
		  <b><%= t('venda.observacao')%>:</b>
		  <%= @venda.observacao if @venda  %>
		</p>
    </td>
	  <td>
	 	 <table class="zebra-striped">
		  <tr>
		        <th width="10%"><%= t('produto.codigo')%></th>
			    <th width="30%"><%= t('produto.descricao')%></th>
		        <th width="20%"><%= t('produto.marca')%></th>
		        <th width="20%"><%= t('produto.valor_venda')%></th>
				<th width="20%"><%= t('produto.valor_vendido')%></th>
		  </tr>

		 <% @venda.produtos.each do |produto| %>
		  <tr>
		        <td style="color:#1E90FF"><%= produto.codigo_interno %></td>
			    <td style="color:#666"><%= produto.descricao %></td>
		        <td style="color:#666"><%= produto.marca.descricao if produto.marca %></td>
		        <td style="color:#006400"><%= formata_float(produto.valor_venda) if produto.valor_venda %></td>
				<td style="color:#006400"><%= formata_float(produto.valor_vendido) if produto.valor_vendido %></td>
		  </tr>
		 <% end %>
		<tr>
	    	<td colspan="3">&nbsp;</td>
	        <td>TOTAL</td>
	        <td style="color:#006400"><b><%= formata_float(@venda.total_vendido) if @venda.total_vendido %></b></td>  
	    </tr>
		 </table>
<br><br>
		<table class="zebra-striped">
	        <tr>
				<th width="20%">Data</th>
		        <th width="30%">Forma Pagamento</th>
				<th width="30%">Parcela</th>
				<th width="20%">Valor</th>
			</tr>
			<% @venda.pagamento_vendas.each do |pagamento| %>
				<tr>
					<td style="color:#1E90FF"><%= I18n.l(pagamento.data) if pagamento.data %></td>
					<td><%= pagamento.venda.lista_formas.key(pagamento.forma_pagamento) %></td>
					<td><%= pagamento.parcela %>ª</td>
					<td style="color:#006400"><%= formata_float(pagamento.valor) if pagamento.valor %></td>
				</tr>	
			 <% end %>	
				<tr>
					<td colspan="2">&nbsp;</td>
					<td style="color:#666">TOTAL</td>
					<td style="color:#006400"><b><%= formata_float(@venda.total_pagamento) if @venda.total_pagamento %></b></td>
				</tr>	
        </table>


	   </td>
	  <td width="10%"></td>
  </tr>
</table>
<div class="actionsShow">
	<a href="<%= edit_venda_path %>">
		<button class="btn primary" name="btnback"><%= t('botao.editar')%></button></a>&nbsp; 
	<a href="<%= vendas_path %>"><button class="btn" name="btnback"><%= t('botao.voltar')%></button></a>
</div>