<!DOCTYPE html>
<html>
<head>
  <title><%= t("app.nome_completo") %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div class="topbar">
      <div class="fill">
        <div class="container">
          <center><a class="brand" href="/"><%= t("app.nome_completo") %></a></center>
        </div>
      </div>
    </div>
	<div class="container">
    <div class="content">
		  <div class="page-header">
		   </div>

			<% if notice.present? %>
			    <script>showNotification(true,'<%= notice %>');</script>
			<% end %>	
			<% if alert.present? %>
			    <script>showNotification(false,'<%= alert %>');</script>
			<% end %>
	      <br>
        <%= yield %>

    </div>
    <br>
    <footer>
	  <center><p>© <%= t("app.nome_completo") %></p></center>
	</footer>
 </div>
</body>
</html>
